//colors
$dark: #18232D !default;
$dark-blue: #101057 !default;
$white: #ffffff !default;
$black: #000000 !default;

$zhyre-dd: rgb(23, 37, 42);
$zhyre-dl: rgb(43, 122, 120);
$zhyre-main: rgb(58, 175, 169);
$zhyre-ld: rgb(222, 242, 241);
$zhyre-ll: rgb(254, 255, 255);

//theme color variable

$gray-100: #949494 !default;
$gray-200: #7D7D7D !default;
$gray-300: #747B81 !default;
$gray-400: #4D4D4D !default;
$blue-100: #CCD4E4 !default;
$blue-200: #99A9C9 !default;
$purpul: linear-gradient(6.89deg, #BC4AFE 6.05%, #F478FD 95.6%) !default;
$pink: linear-gradient(6.89deg, #fd3d84 6.05%, #fc3881 6.06%, #fd70a4 95.6%) !default;
$green: linear-gradient(188.3deg, #8ff8ac 5.9%, #1bc2a1 93.64%) !default;
$red: linear-gradient(180deg, #ff6464 0%, #ff0000 100%) !default;
$orange: linear-gradient(6.89deg, #ff5c00 6.05%, #feb62b 95.6%) !default;
$blue: linear-gradient(1.67deg, #369efe 1.56%, #47eef9 98.74%) !default;
$border-radius: 0.625rem !default;

// COLORS
$main-dark : rgb(142, 121, 62);
$main-light : rgb(173, 151, 79);
$dark-dark : rgb(4, 4, 4);
$dark-mid : rgb(7, 7, 7);
$dark-light : rgb(10, 10, 10);
$light-dark : rgb(174, 174, 174);
$light-light : rgb(230, 230, 230);
$transparent : rgba(255, 255, 255, 0);
$main-opacity : rgba(142, 121, 62, 0.471);
$main-opa : rgba(142, 121, 62, 0.271);
$main-font: rgb(230, 231, 232);

// RADIUS

//
$sec-top-bot-web: 80px;
$sec-top-bot-mob: 50px;
$sec-sub-web: 80px;
$sec-sub-mob: 50px;