@import "../variables.scss";

.sb-section {
    position: relative;
    padding: 100px 0 100px 0;
}

@media (min-width: 768px) {
    .sb-section {
        padding: 60px 0 60px 0;
    }
}

@media (max-width: 767px) {
    .sb-section {
        padding: 60px 0 60px 0;
    }
}

.sb-section-dark {
    background-color: $zhyre-ld;
}

.sb-section-light {
    background-color: $zhyre-ll;
}

.sb-section-background {
    background-image: linear-gradient(rgba(220, 220, 220, .4) 0em, transparent .1em), linear-gradient(90deg, rgba(222, 222, 222, .2) .1em, transparent .1em);
    background-size: 2em 2em;
}